* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  margin: auto;
  padding: 0 7%;
  border-bottom: 1px solid #e2e2e2;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img, h4 {
  margin-left: 20px;
}

.nav-left img {
  width: 16px;
}

.logo {
  width: 200px;
}

.nav-right button{
  background-color: #567b95;
  color: aliceblue;
  border-radius: 5px;
  border: solid 1px #326891;
  font-weight: bold;
 padding: 10px;
 font-size: 12px;
}
